@model WebApplication1.Controllers.PlayerDetailViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.PlayerName;
}

<link rel="stylesheet" href="~/css/playerInfo.css" asp-append-version="true" />


<div class="details-container">
    <img class="player-image-large" src="@Model.BigImageUrl" alt="Player Image" />
    <div class="player-title">@Model.PlayerName</div>
    <div class="player-description">@Model.Description</div>

    <div class="review-section">
        <div class="review-heading">Reviews</div>
        <div class="stars">
            @for (int i = 0; i < 5; i++)
            {
                <span class="star">@(i < Model.Reviews.Average(r => r.StarRating) ? "★" : "☆")</span>
            }
        </div>
        <div class="review-list">
            @foreach (var review in Model.Reviews)
            {
                <div class="review-item">
                    <strong>@review.ReviewerName:</strong> @review.Comment
                </div>
            }
        </div>
    </div>
</div>
